Source: wordpress
Section: web
Priority: optional
Maintainer: Andrea De Iacovo <andrea.de.iacovo@gmail.com>
Uploaders: Giuseppe Iuculano <giuseppe@iuculano.it>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), gettext, dpatch
Homepage: http://wordpress.org
Vcs-Git: git://git.debian.org/git/collab-maint/wordpress.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/wordpress.git
DM-Upload-Allowed: yes

Package: wordpress
Architecture: all
Depends: apache2 | httpd, virtual-mysql-client, libapache2-mod-php5 | php5 | php4, php5-mysql | php4-mysql, libphp-phpmailer (>= 1.73-4), php5-gd | php4-gd, libjs-prototype, libjs-scriptaculous, tinymce (>= 3.2.1), libphp-snoopy, libjs-jquery
Suggests: virtual-mysql-server
Conflicts: mysql-server (<< 4.0.20-8)
Description: weblog manager
 WordPress is a full featured web blogging tool:
    * Instant publishing (no rebuilding)
    * Comment pingback support with spam protection
    * Non-crufty URLs
    * Themable
    * Plugin support
 .
 This package includes French language support.
